<html>
<head>
<title>StalkIt</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
label{
	text-align:center;
}
</style>
</head>
<body>
{% if table %}
	{% for key,val in table.items %}
		<p>{{val.RetryAttempts}}</p>
	{% endfor %}
{% endif %}
<form action="main/" method="POST">
	<div class="container">
		<h1><p class="text-primary">StalkIt</p><small><p>We will track for you</p></small></h1>
<p class="text-primary">StalkIt never lets you down. We keep track of your belongings.</p>
</br>
</br>
</br>
	<h5 class="text-primary" style="text-align:center"><b>Enter Item ID</b></h5>
	<div style="text-align:center"><input type="text" name="itid" id="itid" style="text-align:center"></input></div>
</br>
</br>
</br>
	<button type="submit"class="btn btn-primary" style="margin:auto;display:block">Submit</button>
</div>
</form>
</body>
</html>
